.wrapper {
  overflow: hidden;
  border-radius:3px;
  font-family: 'Source Sans Pro', sans-serif;
  width: 60%;
}

section {
  overflow: hidden;
  height: 38px;
  transition: all 2s ease;
  border: 1px solid #64B255;
}

.thissection {
  height: 220px;
}

section header {
  background-color: #64B255;
  border-bottom: 1px solid #64B255;
  padding: 3px;
  color: white;
  font-size: 1.5em;
}

section header:hover {
  background-color: #83C178;
}

section p {
  color: grey;
  font-size: 1em;
}

/*.hide {
  height: 0;
}*/
